<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
    <link href="{% static 'css/App.css' %}" rel="stylesheet" />
    <link href="{% static 'css/nes.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/print.css' %}" rel="stylesheet" media="print" />
    <link href="{% static 'css/highlight.default.min.css' %}" rel="stylesheet" />
    <!-- <link href="{% static 'css/custom.css' %}" rel="stylesheet" /> -->
    <script type="text/javascript" src="{% static 'js/highlight.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/highlightjs-line-numbers.min.js' %}"></script>
    <script>
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();
    </script>
    <title>{{ title }}</title>
</head>

<body>
    <div class="header" class="contanier">
        <h1><a class="header_align" href="/">PasteRand</a></h1>
    </div>
    {% block content %} {% endblock content %}



</body>

</html>